

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
<head style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">

    
</head>
<body style="background: #f8f8f8; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; height: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
<table class="body-wrap" style="background: #f8f8f8; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; height: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
    <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
        <td class="container" style="clear: both !important; display: block !important; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0 auto !important; max-width: 580px !important; padding: 0;">

            <!-- Message start -->
            <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td align="center" class="masthead" style="background: #32aaf0; color: white; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 40px 0;">
                        <h1 style="font-family: 'Arial'; font-size: 32px; font-weight: 800; line-height: 1.25; margin: 0 auto !important; margin-bottom: 20px; max-width: 90%; padding: 0;">DemCouch</h1>
                        <span class="icons" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 25px; line-height: 1.65; margin: 0; padding: 0;">🏐 ⚽ 🏀</span>
                    </td>
                </tr>
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td class="content" style="background: white; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 30px 35px;">

                        <h1 style="font-family: 'Arial'; font-size: 32px; font-weight: 800; line-height: 1.25; margin: 0; margin-bottom: 20px; padding: 0;">Welcome! </h1>
                        <p style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 20px; padding: 0;">Thanks for signing up. Please follow this link to activate your account:</p>

                    <br style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">

                        <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <td align="center" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                    <p style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 20px; padding: 0;">
                                        <a href="{{url}}" class="button" style="background: white; border: 1px solid #32aaf0; border-radius: 20px; color: #32aaf0; display: inline-block; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 5px 10px; text-decoration: none; width: 350px;">Activate account</a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
        <td class="container" style="clear: both !important; display: block !important; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0 auto !important; max-width: 580px !important; padding: 0;">

            <!-- Message start -->
            <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td class="content footer" align="center" style="background: none; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 30px 35px;">
                        <p style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 0; padding: 0; text-align: center;">Sent by <a href="#" style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; font-weight: bold; line-height: 1.65; margin: 0; padding: 0; text-decoration: none;">DemCouch</a>, Gdańsk</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>.